<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <h2><%= character[0].charname %></h2>
  <input type="hidden" class="charid" value='<%= character[0].charid %>'>

  <div id="locHub">
    <h3><%= locs[0].pname %></h3>
    <p><%= locs[0].pdesc %></p>
    <h4>Connecting Routes</h4>
    <ul>
      <% locs.forEach(function(l) { %>
          <% if (l.status) { %>
            <li><%= l.cname %> - <button value='<%= l.cid %>' onclick="setLocation(this.value)"; %>>Explore</button></li>
          <% } else { %>
            <li><%= l.cname %> - <span class="glyphicon glyphicon-lock"></span> Locked</li>
            <% } %>
      <% }); %>
    </ul>    
  </div>


</div>

<script src="/js/locationhub.js"></script>

</body>
</html>
